@model UserViewModel
<link rel="stylesheet" href="~/css/Profile.css" asp-append-version="true" />
@{
    var loggedUserId = Context.Session.GetInt32("UserId");
    var isAdminString = Context.Session.GetString("IsAdmin");
    bool isAdmin = bool.Parse(isAdminString ?? "false");
}
<style>
    .Title {
        text-align: center;
    }

    .altTitle {
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        line-height: 2;
        text-transform: capitalize;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    }

    .userContent {
        margin: 0 0 0 20px;
    }
</style>

<div class="container">
    <h1 class="Title">Profil</h1>
    <p class="altTitle">@Model.Name  @Model.Surname</p>

    <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
            <div class="u-layout-row">
                <div class="u-container-style u-align-center u-layout-cell u-size-20 u-layout-cell-1">
                    <div class="u-container-layout u-container-layout-1">
                        <h4 class="u-text u-text-6">Kullanıcı Bilgileri</h4>
                        <p class="u-text u-text-7">
                            <span style="font-weight: 700;"> TC.Kimlik No: </span><br>
                            @Model?.UserDetailViewModel?.TcNo <br>

                            <span style="font-weight: 700;"> Telefon: </span><br>
                            @Model?.UserDetailViewModel?.Phone <br>

                            <span style="font-weight: 700;"> Email: </span><br>
                            @Model?.Email <br>

                            <span style="font-weight: 700;"> Kullanıcı Adı: </span><br>
                            @Model?.Username <br>

                            <span style="font-weight: 700;"> Şifre: </span><br>
                            @Model?.Password<br>
                        </p>
                    </div>
                </div>

                <div class="u-align-center-md u-align-left-sm u-align-left-xs u-container-style u-layout-cell u-size-20 u-layout-cell-2">
                    <div class="u-container-layout u-valign-middle-lg u-valign-middle-xl u-valign-top-md u-valign-top-sm u-valign-top-xs u-container-layout-2">
                        <img src="~/img/@(Model?.UserDetailViewModel?.Photo ?? "profileimg.png")" alt="" class="u-image u-image-circle u-image-1" data-image-width="700" data-image-height="700">
                    </div>
                </div>

                <div class="u-container-style u-align-center u-layout-cell u-size-20 u-layout-cell-3">
                    <div class="u-container-layout u-container-layout-3">
                        <h4 class="u-text u-text-6">Detaylar</h4>
                        <p class="u-text u-text-7">
                            <span style="font-weight: 700;"> Doğum Tarihi: </span><br>
                            @Model?.UserDetailViewModel?.Birthday.ToString("yyyy-MM-dd") <br>

                            <span style="font-weight: 700;"> Cinsiyet: </span><br>
                            @Model?.UserDetailViewModel?.Gender?.Name <br>

                            <span style="font-weight: 700;"> Adres: </span><br>
                            @Model?.UserDetailViewModel?.Address @Model?.UserDetailViewModel?.DistrictViewModel?.Name
                            @Model?.UserDetailViewModel?.CityViewModel?.Name @Model?.UserDetailViewModel?.CountryViewModel?.Name<br>
                        </p>
                        @if (!isAdmin)
                        {
                            <div style="justify-content:flex-end">

                                <span style="font-weight: 700;">
                                    Kart Bilgileri:
                                    <form class="form-icon d-inline" asp-action="Create" asp-controller="Card" method="get">
                                        <input name="userId" value="@Model?.Id" hidden />
                                        <button class="btn btn-outline-success ml-2">
                                            <i class="fa-solid fa-plus fa-xs"></i>
                                        </button>
                                    </form>
                                </span>
                                <br>

                                <br>
                                @Model?.UserDetailViewModel?.Address <br /> @Model?.UserDetailViewModel?.DistrictViewModel?.Name
                                @Model?.UserDetailViewModel?.CityViewModel?.Name @Model?.UserDetailViewModel?.CountryViewModel?.Name

                                <br>


                                <div class="u-social-icons u-spacing-10 u-social-icons-1" style="justify-content:flex-end;">
                                    <form class="form-icon u-social-url" asp-action="Update" asp-controller="User" method="get">
                                        <input name="userId" value="@Model?.Id" hidden />
                                        <button class="btn btn-outline-primary me-2">
                                            <i class="fa-regular fa-pen-to-square fa-xs"></i>
                                        </button>
                                    </form>

                                    <button class="btn btn-outline-danger me-2" id="showConfirmButton">
                                        <i class="fa-regular fa-trash-can fa-xs"></i>
                                    </button>
                                </div>
                            </div>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalLabel">Onay Gerekli</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Kapat"></button>
            </div>
            <div class="modal-body">
                Kullanıcı kimliğiniz tamamen silinecektir. Bu işlemi yapmak istediğinize emin misiniz?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="noButton" data-bs-dismiss="modal">Hayır</button>
                <button type="button" class="btn btn-success" id="yesButton">Evet</button>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('showConfirmButton').addEventListener('click', function () {
        var confirmationModal = new bootstrap.Modal(document.getElementById('confirmationModal'));
        confirmationModal.show();
    });

    document.getElementById('yesButton').addEventListener('click', function () {
        var userId = '@Model?.Id';  // Kullanıcı ID'sini modelden al
        console.log(userId);
        $.ajax({
            url: '/User/Delete',  // Doğru route
            type: 'POST',
            data: { userId: userId },  // userId parametre olarak gönderiliyor
            success: function (response) {
                alert('Kaydınız başarıyla silindi!');
                window.location.href = '/Account/Logout';  // Silme işlemi sonrası çıkış yap
            },
            error: function (xhr, status, error) {
                console.error('Hata: ' + error);
                alert('Bir hata oluştu.');
            }
        });
    });

    document.getElementById('noButton').addEventListener('click', function () {
        alert('Silme işlemi iptal edildi.');
    });
</script>
