html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
#logo {
    color:lightgray;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #6610f2;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn-primary {
    font-size: 17px !important;
    color: #fff !important;
    border-radius: 10px !important;
    cursor: pointer !important;
    background-color: #7239EA !important;
    border-color: #7239EA !important;
}

    .btn-primary:hover {
        letter-spacing: 1px !important;
        background-color: #fff !important;
        color: #7239EA !important;
        font-weight: bold !important;
        border-radius: 10px !important;
        border-color: #7239EA !important;
    }


.form-icon {
    display: inline;
    float: inline-end;
}
.form-icon btn{
    
}
   