@model CategoryViewModel
<link rel="stylesheet" href="~/css/carousel.css" asp-append-version="true" />

<div class="container d-flex justify-content-center min-vh-100" style="align-items:center;">
    <form class="py-3 needs-validation" asp-action="Create" asp-controller="Category" method="post" enctype="multipart/form-data">
        <div class=" text-center">
            <h2>Kategori Kayıt Formu</h2>
            <p class="lead">Lütfen bilgileri eksiksiz giriniz.</p>
        </div>

        <div class="row g-5">
            <div class="col-lg-12 col-sm-6">
                <h4 class="mb-3">Kategori Bilgileri</h4>
                <div class="row g-3">
                    <!-- Category bilgileri -->
                    <div class="col-lg-12 col-sm-6">
                        <label for="Name" class="form-label">Kategory Adı</label>
                        <input type="text" class="form-control" id="Name" name="Name" required>
                        <div class="invalid-feedback">Bu alan zorunludur.</div>
                    </div>
                </div>
            </div>
        </div>

        <button class="w-100 btn btn-primary btn-lg col-lg-12 col-sm-6 mt-3" type="submit">Kaydet</button>
    </form>
</div>
